/* Stylesheet for Laszlo Systems docs.  */
/* J_LZ_COPYRIGHT_BEGIN *******************************************************
* Copyright 2001-2006 Laszlo Systems, Inc.  All Rights Reserved.              *
* Use is subject to license terms.                                            *
* J_LZ_COPYRIGHT_END *********************************************************/

@import "../includes/styles.css";

/* undo the margin changes from the parent css */
p, h1, h2, h3, h4, h5, h6, li {
    margin-left: 0;
}

h3 {
    font-family: serif;
    font-size : 14px;
    color: white;
    background-color: #5b607c;
    padding: 2pt;
    margin-bottom: 2pt;
}

.head .left {width: 50%}
.head .right {position: absolute; right: 10px; margin-right: 0; top: 25px; text-align: right}
.head h1 {padding-bottom: 10pt}
.head .sep {height: 10px}
.head .summary {font-style: italic}

/* Add some whitespace so that anchors near bottom of page work */
.copyright { 
    margin-top: 72em;	/* 36 lines */
}

.wrapper-description, .tag-description {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 12px;
    line-height : 18px;
    color: #333333;
}

.docPrototype .classname {}
.docPrototype .methodname {font-weight: bold}
.docPrototype .param {font-style: italic}

/* Tables */

td {vertical-align: top}

.docTableTitle {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 14px;
    font-weight : bold;
    color: white;
}

.docTableTitle a {
    color: white;
    text-decoration: none;
}

.docTableTitle a:visited {
    color: #9999CC;
}

.docTableTitle a:active {
    color: #333399;
}	

.docTableTitle a:hover {
    text-decoration: underline;
}

.docTableTitleGray {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 13px;
    font-weight : bold;
    color: #000000;
}

.docTableSubTitle {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 13px;
    font-weight : bold;
    color: #333333;
}

.docTableSubTitle a {
    color: #333333;
}

.docTableColHeading {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold;
    color: #333333;
}

.docTableColHeading a {
    color: #333333;
}

.docPrototype {
    font-family : "Courier New", Courier, monospace;
    font-size : 14px;
    color: #333333;
}

.docParam {
    font-family : "Courier New", Courier, monospace;
    font-size : 12px;
    font-weight: bold;
    color: #333333;
}

.code, code {
	font-family : "Courier New", Courier, monospace;
	font-size : 13px;
    background-color : #eaeaea;
}

.smaller .code, .smaller code {
	font-family : "Courier New", Courier, monospace;
	font-size : 11px;
    background-color : #eaeaea;
}

.code a:visited {
	color: #9999CC;
}

.code a:active {
	color: #333399;
}	

.code a:hover {
	text-decoration: none;
}

.lfcInherited {
    border: 1px solid;
    margin: 5px;
}

.lfcInherited .title {
    border: 1px solid;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 13px;
    font-weight : bold;
    color: #333333;
    background-color: #ddf;
}
