myview {
    logorsc: "resources/berry/logo.gnp";        
    boxrsc: "resources/berry/box.gnp";
    lightbgcolor: "#ca83b1";
    themename:  "Berry Bites";
}

#gTitle {
    xpos: 40;
    ypos: 45;
    textcolor:  "#F9CEB4";    
}

/* Copyright 2008 Laszlo Systems */ 