myview {
    logorsc: "resources/haze/logo.gnp";        
    boxrsc: "resources/haze/box.gnp";
    lightbgcolor: "0xCCCCCC";
    themename:  "<b><font size=\"24\">Haze Foam</font></b>";
}

#gTitle {
    xpos: 40;
    ypos: 45;
    textcolor:  "0x1e4d75";
}

/* Copyright 2006 Laszlo Systems */ 