myview {
    logorsc: "resources/haze/logo.gnp";        
    boxrsc: "resources/haze/box.gnp";
    lightbgcolor: "#CCCCCC";
    themename:  "Haze Foam";
}

#gTitle {
    xpos: 40;
    ypos: 45;
    textcolor:  "#1e4d75";
}

/* Copyright 2008 Laszlo Systems */ 