/*
  @!@!@!@!@ ATTENTION EDITORS OF THIS FILE @!@!@!@!@

  If you edit this file, please validate your work using http://jigsaw.w3.org/css-validator/
*/

/* http://www.quirksmode.org/css/100percheight.html */
html, body { height: 100%; }
body { margin: 0; }
img { border: 0 none; }

/* Holds compiler warnings */
#warning
{
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: black;
  background-color: #fcc;
  padding: 1pt 1pt 1pt 2pt;
}

/* Holds the dhtml application */
#dhtml-application
{
  /* width and height are superceded by the canvas in the xslt */
  margin: 0;
  border: 0 none;
  overflow: hidden;
  /* Debug */
  /*
  margin: 2px;
  border: 1px dotted red; 
  */
}

/* Holds the dhtml application when debugging */
#dhtml-debugger-application
{
  margin: 0;

  overflow: hidden;
}

/* Holds the dhtml debugger */
#dhtml-debugger
{
  margin: 5px;
  border: 1px solid black;
  width: 99%;
  color: black;
  background-color: white;
}

#dhtml-debugger-label
{
  font-family: sans-serif;
  font-size: medium;
  position: relative;
  width: auto;
  height: 30px;
  padding: 3px;
  border: 1px solid black;
}

#dhtml-debugger-label span
{
  background: url(OpenLaszlo-Debugger.gif) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Outline around the input/output window */
#dhtml-debugger-output, #dhtml-debugger-input
{
  border: 1px solid black;
  padding: 5px;
  margin: 0;
}

#dhtml-debugger-input { border-top: 0 none; }

/* The output window */
#LaszloDebugger
{
  width: 100%;
  height: auto;
  border: 1px solid black;
  /* Mostly for Firefox, which does poorly with height %'s */
  min-height: 250px;
  overflow: auto;
}

/* The input window */
#LaszloDebuggerInput
{
  width: 83%;
  font-family: monospace;
  font-size: medium;
  /* simulate 11/13pt */
  line-height: 118%;
  color: black;
  background-color: white;
}

/* Holds the console */
#console
{
  color: black;
  background-color: #bbb;
  height: 70px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* Alternate console */
#console-large
{
  color: black;
  background-color: #bbb;
  height: 370px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* Holds the console and info output */
#footer { width: 100%; }

.error, .warning, .info
{
  font-family: sans-serif;
  font-size: smaller;
}

/* * Stylesheet for LPS console */

/* J_LZ_COPYRIGHT_BEGIN *******************************************************
* Copyright 2001-2007 Laszlo Systems, Inc.  All Rights Reserved.              *
* Use is subject to license terms.                                            *
* J_LZ_COPYRIGHT_END *********************************************************/
