<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>OpenLaszlo Components Examples</title>
    <link rel="STYLESHEET" type="text/css" href="../../lps/includes/styles.css" />
    <link rel="SHORTCUT ICON" href="http://www.laszlosystems.com/images/laszlo.ico" />
    <script src="../../lps/includes/script.js" type="text/javascript"></script>
    
</head>
<body bgcolor="#eaeaea">
<div align="right"><img border="0" src="../../lps/includes/logo_web_sm.gif" alt="OpenLaszlo logo" /></div>

<h2>OpenLaszlo Components Examples</h2>

<p>Here are some example uses of the OpenLaszlo Components.  </p>

<p>Click on the name of the application to launch it, source to view the application's source, and LzViewer to launch an online application editing and debugging environment. Note that LzViewer launches a popup browser window, and you should disable any popup-blocking software if you use it.</p>


<ul class="regular">

<li>
<b>Button:</b> <a href="button_example.lzx?lzt=html">button_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/button_example.lzx">source</a>,
 <a href= "button_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Checkbox:</b> <a href="checkbox_example.lzx?lzt=html">checkbox_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/checkbox_example.lzx">source</a>,
 <a href= "checkbox_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Combobox:</b> <a href="combobox_example.lzx?lzt=html">combobox_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/datacombobox_example.lzx">source</a>,
 <a href= "datacombobox_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Datacombobox:</b> <a href="datacombobox_example.lzx?lzt=html">datacombobox_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/combobox_example.lzx">source</a>,
 <a href= "combobox_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Data grid:</b> <a href="grid_example.lzx?lzt=html">grid_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/grid_example.lzx">source</a>,
 <a href= "grid_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Edittext:</b> <a href="edittext_example.lzx?lzt=html">edittext_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/edittext_example.lzx">source</a>,
 <a href= "edittext_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Form:</b> <a href="form_example.lzx?lzt=html">form_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/form_example.lzx">source</a>,
 <a href= "form_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>List:</b> <a href="list_example.lzx?lzt=html">list_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/list_example.lzx">source</a>,
 <a href= "list_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Floating List:</b> <a href="floatinglist_example.lzx?lzt=html">floatinglist_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/floatinglist_example.lzx">source</a>,
 <a href= "floatinglist_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Menu:</b> <a href="menu_example.lzx?lzt=html">menu_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/menu_example.lzx">source</a>,
 <a href= "menu_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Radiogroup:</b> <a href="radiogroup_example.lzx?lzt=html">radiogroup_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/radiogroup_example.lzx">source</a>,
 <a href= "radiogroup_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Scrollbar:</b> <a href="scrollbar_example.lzx?lzt=html">scrollbar_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/scrollbar_example.lzx">source</a>,
 <a href= "scrollbar_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Slider:</b> <a href="slider_example.lzx?lzt=html">slider_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/slider_example.lzx">source</a>,
 <a href= "slider_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Style:</b> <a href="component_sampler.lzx?lzt=html">component_sampler.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/component_sampler.lzx">source</a>,
 <a href= "component_sampler.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Tabs:</b> <a href="tabs_example.lzx?lzt=html">tabs_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/tabs_example.lzx">source</a>,
 <a href= "tabs_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Tabslider:</b> <a href="tabslider_example.lzx?lzt=html">tabslider_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/tabslider_example.lzx">source</a>,
 <a href= "tabslider_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Tree:</b> <a href="tree_example.lzx?lzt=html">tree_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/tree_example.lzx">source</a>,
 <a href= "tree_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>Window:</b> <a href="window_example.lzx?lzt=html">window_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/window_example.lzx">source</a>,
 <a href= "window_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>
<li>
<b>DatePicker:</b> <a href="datepicker_example.lzx?lzt=html">datepicker_example.lzx</a>
(<a href="../../lps/utils/viewer/viewer.jsp?file=/examples/components/datepicker_example.lzx">source</a>,
 <a href= "datepicker_example.lzx?lzt=filter&amp;filter=/LZViewer">LZViewer</a>)<br />
</li>




</ul>



<!-- * H_LZ_COPYRIGHT_BEGIN *********************************************** -->
<p class="copyright">Copyright &copy; 2002-2008 <a target="_top"
href="http://www.laszlosystems.com/">Laszlo Systems, Inc.</a>
All Rights Reserved. Unauthorized use, duplication or
distribution is strictly prohibited. This is the proprietary
information of Laszlo Systems, Inc. Use is subject to license terms.</p>
<!-- * H_LZ_COPYRIGHT_END ************************************************* -->
</body>
</html>

