<!--=======================================================================-->
<!-- explanation page for  vacation survey                                  -->
<!--                                                                       -->
<!-- * X_LZ_COPYRIGHT_BEGIN ***************************************************
* Copyright 2001-2008 Laszlo Systems, Inc.  All Rights Reserved.              *
* Use is subject to license terms.                                            *
* X_LZ_COPYRIGHT_END ****************************************************** -->
<!--=======================================================================-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <link rel="SHORTCUT ICON" href="http://www.laszlosystems.com/favicon.ico" />
      <link href="../../lps/includes/explore.css" rel="stylesheet" type="text/css" />
      <script src="../../lps/includes/utils.js" type="text/javascript"></script>
      <title>Components Sampler</title>
      <style type="text/css">
        .smallapp {margin-right: 10px;}
      </style>

  </head>
   <body>
   <h1>Components Sampler</h1>
   <div class="smallapp" id="appcontainer">
   </div>
   <div class="desc">
    <p>
       This is a sampler of the various widgets available in OpenLaszlo.
     </p>
       <p id="runtime" class="runtimelabel"></p>
    </div>
    <script type="text/javascript">
        var runtime = getQueryVariable("lzr", "swf8");
        writeOpenLaszloApp(document.getElementById('appcontainer'), "style_example.lzx", runtime, "800px", "450px");
        document.getElementById("runtime").innerHTML = "Runtime: " + lzRuntimeTagToRuntimeName(runtime);
    </script>
    <noscript>
      Please enable JavaScript in order to use this application. 
    </noscript>
</body>
</html>
