/* Copyright 2007 Laszlo Systems */ 

[name='Philip'] {
    width: 300;
    miscdata: "san jose state";
    innercolor: #8F008F;
}

[name='George'] {
    width: 200;
    miscdata: "somewhere far away";
    innercolor: #245f84;
}
