/* Copyright 2006 Laszlo Systems */ 

[name='Philip'] {
    width: 300;
    miscdata: "san jose state";
    innercolor: "0x8F008F";
}

[name='George'] {
    width: 200;
    miscdata: "somewhere far away";
    innercolor: "0x245f84";
}
