/* Copyright 2006 Laszlo Systems */ 
#gPhilip {
    width: 300;
    miscdata: "san jose state";
    innercolor: "0x8F008F";
}

#gGeorge {
    width: 200;
    miscdata: "somewhere far away";
    innercolor: "0x245f84";
}