/* Copyright 2007 Laszlo Systems */ 
#gPhilipAndrew {
    width: 300;
    miscdata: "san jose state";
    innercolor: #8F008F;
}

#gGeorgeRobin {
    width: 200;
    miscdata: "somewhere far away";
    innercolor: #245f84;
}