/* Stylesheet for OpenLaszlo Release Notes */

/* J_LZ_COPYRIGHT_BEGIN *******************************************************
* Copyright 2001-2008 Laszlo Systems, Inc.  All Rights Reserved.              *
* Use is subject to license terms.                                            *
* J_LZ_COPYRIGHT_END *********************************************************/

body { background-color: #ffffff; }
h1 { font-size: large; }
p
{
	margin-left: 10pt;
	font-size: medium;
}

table.sortable { table-layout: automatic }
tr { line-height: 30px; }
th
{
	background-color: #ddddff;
	text-align: left;
}

td.summary
{
}

td.issuekey { width: 80px; }